<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a new blog</title>
  </head>
  <body>
    <form action="/blog/create" method="POST">
      Title:<input type="text" name="title" />
      <input type="text" name="content" />
    </form>
  </body>
</html>
