<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/style.css" />

    <title>Create a new blog</title>
  </head>
  <body class="bg-background">
    <%- include("navbar", session) %>
    <form
      action="/blog/create"
      method="POST"
      class="flex flex-col items-center w-screen"
    >
      <label
        for="title"
        class="my-5 text-2xl text-secondary w-full flex flex-col items-center"
        >Title</label
      >
      <input
        type="text"
        required
        name="title"
        id="title"
        class="w-1/2 p-2 text-white text-2xl rounded-xl border-2 mb-10 bg-slate-900 border-primary"
      />
      <label
        for="content"
        required
        class="text-2xl text-secondary mb-4 w-full flex flex-col items-center"
      >
        Content</label
      >
      <textarea
        name="content"
        required
        id="content"
        cols="30"
        rows="10"
        class="w-1/2 p-2 rounded-xl text-2xl text-white border-2 border-primary bg-slate-900"
      ></textarea>
      <input type="hidden" name="author" value="<%= session.username %> " />
      <!--submit button-->
      <input
        type="submit"
        value="Create"
        class="w-1/2 p-2 cursor-pointer rounded-xl mt-4 border-2 text-2xl text-white border-primary bg-primary"
      />
    </form>
  </body>
</html>
