<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/style.css" />
    <title>Blogs</title>
  </head>
  <body class="bg-gray-800">
    <a
      href="/blog/create"
      class="text-3xl bottom-0 right-0 p-10 fixed text-purple-500"
      >Create a blog</a
    >
    <%- include("navbar") %>
  </body>
</html>
