<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/style.css" />
    <title>Blogs</title>
  </head>
  <body class="bg-gray-800">
    <nav class="w-screen h-max flex flex-row justify-evenly mt-4">
      <a href="/" class="text-3xl text-purple-500">Home</a>
      <a href="/blog/create" class="text-3xl text-purple-500">Create a blog</a>
      <a href="/login" class="text-3xl float-right text-purple-500">Login</a>
      <a href="/register" class="text-3xl float-right text-purple-500"
        >Register</a
      >
    </nav>
  </body>
</html>
