<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/style.css" />

    <title>Sign in</title>
  </head>
  <body class="bg-gray-800">
    <%- include("navbar", session) %>
    <form action="/login" method="POST">
      <input type="text" required name="email" />
      <input type="password" required name="password" />
      <input type="submit" value="Sign in" />
    </form>
  </body>
</html>
