<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/style.css" />
    <title>Sign in</title>
    <link rel="icon" type="image/x-icon" href="./assets/icon.png" />

  </head>
  <body class="bg-background">
    <%- include("navbar", session) %>

    <form
      action="/login"
      method="POST"
      class="flex flex-col items-center w-screen"
    >
      <label
        for="email"
        class="my-5 text-2xl text-primary w-full flex flex-col items-center"
        >Email</label
      >
      <input
        type="text"
        required
        name="email"
        id="email"
        class="w-1/4 p-2  text-white text-2xl rounded-xl border-2 mb-10 bg-slate-900 border-primary"
      />
      <label
        for="password"
        
        class="text-2xl text-primary mb-4 w-full flex flex-col items-center"
      >
        Password</label
      >
      <input
      type="password"
        name="password"
        
        id="password"
        class="w-1/4 p-2 rounded-xl text-2xl text-white border-2 border-primary bg-slate-900"
      ></input>
      <input
        type="submit"
        value="Sign in"
        class="w-1/4 p-2 cursor-pointer rounded-xl mt-4 border-2 text-2xl text-white border-primary bg-primary"
      />
    </form>
  </body>
</html>
