<nav class="w-screen h-max flex flex-row justify-evenly mt-4">
  <div class="flex w-1/2 justify-between">
    <a href="/" class="text-3xl ml-10 text-purple-500">Home</a>
  </div>
  <div class="flex w-1/2 justify-end">
    <a href="/login" class="text-3xl float-right text-purple-500">Login</a>
    <a href="/register" class="text-3xl float-right text-purple-500 mx-10"
      >Register</a
    >
  </div>
</nav>
