<head>
  <script
    src="https://kit.fontawesome.com/3200730e91.js"
    crossorigin="anonymous"
  ></script>
  <script lang="js"></script>
  <style>
    .fa-arrow-right-from-bracket {
      color: #f24a4a;
    }
  </style>
</head>
<nav
  class="fixed bg-background w-screen bottom-0 border-t-4 flex justify-evenly py-6 border-slate-700 rounded-2xl lg:top-0 lg:relative lg:border-t-0 lg:border-b-4 lg:rounded-none lg:py-8 text-secondary lg:justify-between"
>
  <!--Phone+ navbar-->

  <div class="flex lg:hidden">
    <a href="/" class="text-3xl"><i class="fa-solid fa-house text-md"></i></a>
  </div>
  <a href="/about" class="text-3xl lg:hidden"
    ><i class="fa-solid fa-circle-info text-md"></i
  ></a>
  <% if(session.isAuth){ %>

  <div class="flex lg:hidden">
    <a href="/user/<%= session.userid %>" class="text-3xl"
      ><i class="fa-solid fa-user"></i
    ></a>
  </div>

  <!--Desktop navbar-->
  <div class="text-3xl ml-16 hidden lg:flex">
    <a href="/">Home</a>
    <a href="/about" class="ml-8">About</a>
    <% if(session.username==="admin"){ %>
    <a href="/dashboard" class="text-md ml-8">Dashboard</a>
    <% } %>
  </div>

  <div class="text-3xl mr-16 lg:flex">
    <a href="/user/<%= session.userid%>" class="mr-8 hidden lg:flex"
      >Hello, <%= session.username%></a
    >
    <form action="/logout" method="POST">
      <button type="submit">
        <i
          class="fa-solid fa-arrow-right-from-bracket translate-y-1 text-4xl"
        ></i>
      </button>
    </form>
  </div>

  <% } else{%>
  <div class="text-2xl ml-16 hidden lg:flex">
    <a href="/">Home</a>
    <a href="/about" class="ml-8">About</a>
  </div>

  <div>
    <a href="/login" class="text-3xl lg:hidden"
      ><i class="fa-solid fa-right-to-bracket"></i
    ></a>
    <a href="/login" class="text-2xl hidden lg:flex mr-16">Sign In</a>
  </div>

  <% } %>
</nav>
