<head>
  <script
    src="https://kit.fontawesome.com/3200730e91.js"
    crossorigin="anonymous"
  ></script>
  <style>
    .fa-arrow-right-from-bracket {
      color: #f24a4a;
    }
  </style>
</head>
<nav class="w-screen h-max flex flex-row justify-between my-8">
  <div class="flex items-start justify-start content-center ml-12">
    <div class="flex">
    <a href="/" class="text-3xl text-purple-500">Home</a>
  </div>
  <% if(session.username==="admin"){ %> 
    <div class="flex">
      <a href="/dashboard" class="text-3xl text-purple-500 ml-5">Dashboard</a>
    </div>
    <% } %> 
  </div>
  
  <div class="flex justify-end items-center pr-5">
    <% if(session.isAuth){ %>
    <div class="text-purple-500 text-3xl mr-6">
      Hello <%= session.username %>
    </div>
    <form action="/logout" method="POST" class="mr-8">
        <button type="submit">
          <i class="fa-solid fa-2x fa-arrow-right-from-bracket translate-y-1"></i>
        </button>
      </i>
    </form>

    <% } else{%>
    <a href="/login" class="text-3xl float-right text-purple-500">Login</a>
    <a href="/register" class="text-3xl float-right text-purple-500 mx-10"
      >Register</a
    >
    <% } %>
  </div>
</nav>
